@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Rubik:wght@300..900&display=swap');

@theme{
    --color-dark: #282828;
    --color-light: #d8f3ff;
    --color-primary: #5f7998;
    --color-secondary: #006699;
    --color-accent: #01c38d;

    --font-family-arabic: "Rubik", sans-serif;
    --font-family-english: "Alexandria", sans-serif;
}
